# Common data minpulations

This notebook will contain common data manipulations we use on a daily basics, a collection of day to day data transformations

## 1. Sort Pandas DataFrame by specific column

Given a dataframe called df where there is  year column, we want to sort the entire dataframe in asdending order by year. We use sort_values() method.

In [ ]:
df = df.sort_values(by ='Year', ascending = True)

## 2. Get distinct values in a Pandas dataframe column

In this example, from column named "Nationality" from a Pandas dataframe, we want to dispay distinct column values using unique() method.

In [ ]:
df['Nationality'].unique()

## 3. Change data type in a Pandas dataframe column

We can use astype() method in Python to change data type providing first the column name

In [ ]:
# Change data type from float to Integer (options int32,int64)
df['foreign_population'].astype('int')
df['foreign_population'].astype('int32')
df['foreign_population'].astype('int64')

In [ ]:
# change data type from integer to float
df['national_population'].astype(float)

In [ ]:
# change data type from float to categorical type
df['national_population'].astype('category')

## 4. Remove decimal places using a lambda function

We can make use of a lambda function to round decimal places from a calculated field

In [ ]:
# Remove decimal places from any given calculation
INE_calc['percent_foreign_population'] = (INE_calc['foreign_population']/INE_calc['total_population'])*100

In [ ]:
# Then apply rounding of decimal places on this newly creaetd column "percent_foreign_population"
INE_calc['percent_rounded'] = INE_calc['percent_foreign_population'].apply(lambda x:round(x,2))

## 5. Turn a Dictionary into a DataFrame

Given a Dictionary as this one below:

In [ ]:
team = {"Name":['Alex','John'],
        "Surname":['Doe','Cole']}

We use pd.DataFrame method to turn it from a Dictionary into a DataFrame

In [ ]:
df = pd.DataFrame(team)

## 6. Remove null valules

- How to remove null values in Python using .dropna() method

In [12]:
import pandas as pd
import numpy as np

In [10]:
# Get pandas version just installed in this new .venv created today 13/06/2025
print(pd.__version__)

2.3.0

In [13]:
d = {'First Score': [100, 90, np.nan, 95],
        'Second Score': [30, 45, 56, np.nan]}
df = pd.DataFrame({'First Score': [100, 90, np.nan, 95],
        'Second Score': [30, 45, 56, np.nan]})
print(df)

   First Score  Second Score
0        100.0          30.0
1         90.0          45.0
2          NaN          56.0
3         95.0           NaN

- Then I can use Python .dropna() method to remove those rows containing NaN values