# Common data minpulations

This notebook will contain common data manipulations we use on a daily basics, a collection of day to day data transformations

## 1. Sort Pandas DataFrame by specific column

Given a dataframe called df where there is  year column, we want to sort the entire dataframe in asdending order by year. We use sort_values() method.

In [ ]:
df = df.sort_values(by ='Year', ascending = True)

## 2. Get distinct values in a Pandas dataframe column

In this example, from column named "Nationality" from a Pandas dataframe, we want to dispay distinct column values using unique() method.

In [ ]:
df['Nationality'].unique()

## 3. Change data type in a Pandas dataframe column

We can use astype() method in Python to change data type providing first the column name

In [ ]:
# Change data type from float to Integer (options int32,int64)
df['foreign_population'].astype('int')
df['foreign_population'].astype('int32')
df['foreign_population'].astype('int64')

In [ ]:
# change data type from integer to float
df['national_population'].astype(float)

In [ ]:
# change data type from float to categorical type
df['national_population'].astype('category')