# 10 Import Excel file creating standard date variable

This Jupyter notebook will expand on the topic covered by previous one. After importing Excel file into Python, I will create a new variable as standard Python date variable from a character variable

## 1. Import Excel data into Python

- Import required libraries

In [1]:
import pandas as pd
import os
import numpy as np

In [2]:
wd = os.getcwd()
print(f'My working directory is:{wd}')

My working directory is:/home/pablo/Documents/Pablo_ubuntu/Python_github_projects/ML-using-Python/data_wrangling_scripts

In [3]:
project_folder = os.path.join('/home','pablo','Documents','Pablo_ubuntu','Python_github_projects','ML-using-Python')
os.chdir(project_folder)

In [5]:
data_folder = os.path.join('/home','pablo','Documents','Pablo_ubuntu','Python_github_projects','ML-using-Python','data')

In [6]:
print(f'Data fodler path:{project_folder}')
print(f'Data fodler path:{data_folder}')

Data fodler path:/home/pablo/Documents/Pablo_ubuntu/Python_github_projects/ML-using-Python
Data fodler path:/home/pablo/Documents/Pablo_ubuntu/Python_github_projects/ML-using-Python/data

- Display data folder contents

In [7]:
data_folder_contents = os.listdir(data_folder)
print(f'Data folder contents:{data_folder_contents}')

Data folder contents:['monthly-milk-production-pounds.csv', 'winequality-white.csv', 'Monthly-AE-Time-Series-March-2025.xls', 'ONS_long_term_immigration_end2024.xlsx', 'AE_Attendances_TypeI_2010_2025.csv', '03_INE_Spain_natural_growh_births_deaths.xlsx', 'winequality-red.csv', 'INE Resident population country of birth Spain.xlsx', 'ONS_Figure_01_Long_term_emigration_immigration_net_migration.xlsx', 'Monthly-AE-Time-Series-January-2024.xls', 'wine_quality.zip', 'OCDE_countries_population_figures_1970_2022.csv', 'AE_Time_Series_Data_website.txt', '01 INE resident population by nationality Spain and CV 2002 2024.xlsx', 'AE_Attendances_2010_2024.csv', 'INE total and foreign population figures Spain.xlsx', 'Type_I_ATT_TEST.csv', 'all_wine_reset.csv', 'winequality.names', 'AE_Attendances_Aug2010_Mar_2025.csv', '02 INE Spain CV population stocks and flows 2002 2025.xlsx', 'Type_I_ATT_TRAIN.csv', 'ONS_Figure_2__Population_increase_in_mid-2023_was_driven_mostly_by_net_international_migration.xls']

- Display just Files ending in .xlsx in our data_folder path

In [9]:
for file in os.listdir(data_folder):
    if file.endswith(".xlsx"):
        print(os.path.join("/data", file))

/data/ONS_long_term_immigration_end2024.xlsx
/data/03_INE_Spain_natural_growh_births_deaths.xlsx
/data/INE Resident population country of birth Spain.xlsx
/data/ONS_Figure_01_Long_term_emigration_immigration_net_migration.xlsx
/data/01 INE resident population by nationality Spain and CV 2002 2024.xlsx
/data/INE total and foreign population figures Spain.xlsx
/data/02 INE Spain CV population stocks and flows 2002 2025.xlsx

- Importing Excel file "INE total and foreign population figures Spain.xlsx" from \data sub-folder.

In [10]:
data_raw = pd.read_excel(os.path.join('data','INE total and foreign population figures Spain.xlsx'),
                         sheet_name = 'INE_Total_population',
                         skiprows = 7, 
                         usecols='A:B',
                         nrows = 212)
data_raw.head()

                            Total
0    1 de enero de 2024  48619695
1  1 de octubre de 2023  48486865
2    1 de julio de 2023  48320520
3    1 de abril de 2023  48205962
4    1 de enero de 2023  48085361