## Set of Barplots created using seaborn

Examples on how to create a barplot using seaborn

## 1.Load required libraries

- Basic libraries for files manipulation **os**  and data wrangling **pandas**

In [ ]:
# 1. Load basic libraries
import pandas as pd
import os

- Specific libraries for Seaborn charts

In [6]:
import seaborn as sns
import matplotlib.pyplot as plt
sns.set_theme(style="whitegrid")

In [ ]:
# 2.Import Excel file into Python 

my_wd = os.getcwd()
print("My working directory is:",my_wd)

# 2.1 List files in \data folder to identify Excel file to be imported into Python 
new_wd_ML_using_python = os.path.join("/home","pablo","Documents","Pablo_zorin","VS_Python_GitHub_Pablo_source","ML-using-Python")

My working directory is: /home/pablo/Documents/Pablo_zorin/VS_Python_GitHub_Pablo_source/ML-using-Python/Seaborn_gallery

In [2]:
# And we change existing working directory to ML-using-Python folder to access the \data folder
os.chdir(new_wd_ML_using_python)

new_wd = os.getcwd()
print("Changed working directory to:",new_wd)

Changed working directory to: /home/pablo/Documents/Pablo_zorin/VS_Python_GitHub_Pablo_source/ML-using-Python

In [3]:

data_folder = os.path.join("/home","pablo","Documents","Pablo_zorin","VS_Python_GitHub_Pablo_source","ML-using-Python",
                           'data')
data_folder_contents = os.listdir(data_folder)
print('data folder contents:',data_folder_contents)

# 2.2 Build  path to Excel file location
ine_population_nationality = os.path.join('data','INE total and foreign population figures Spain.xlsx')
print('ÍNE_population_nationality:',ine_population_nationality)

data folder contents: ['wine_quality.zip', 'winequality.names', 'Monthly-AE-Time-Series-January-2024.xls', 'INE Resident population country of birth Spain.xlsx', 'AE_Time_Series_Data_website.txt', 'winequality-red.csv', 'OCDE_countries_population_figures_1970_2022.csv', 'all_wine_reset.csv', 'AE_Attendances_2010_2024.csv', 'ONS_Figure_2__Population_increase_in_mid-2023_was_driven_mostly_by_net_international_migration.xls', 'winequality-white.csv', 'INE total and foreign population figures Spain.xlsx', 'monthly-milk-production-pounds.csv', 'ONS_Figure_01_Long_term_emigration_immigration_net_migration.xlsx', 'ONS_long_term_immigration_end2024.xlsx']
ÍNE_population_nationality: data/INE total and foreign population figures Spain.xlsx

## 2. Import Excel file into Python

In [7]:
ine_population_nationality = os.path.join('data','INE total and foreign population figures Spain.xlsx')
print('ÍNE_population_nationality:',ine_population_nationality)

ÍNE_population_nationality: data/INE total and foreign population figures Spain.xlsx

- Get tab names from imported Excel file to load third tab from incoming Excel file

In [8]:
import openpyxl

In [12]:
xl = pd.ExcelFile(ine_population_nationality)

xl.sheet_names  # see all sheet names

#xl.parse(sheet_name)  # read a specific sheet to DataFrame

['INE_Foreign_population',
 'INE_Total_population',
 'INE_Total_foreign_population']

In [16]:
INEdata = pd.read_excel(ine_population_nationality,
                                  sheet_name = 'INE_Total_foreign_population',
                                  skiprows= 2
                                )
INEdata.head()

,Todas las edades,Total,Foreign population,% Foreign Nationals/Total population,Total YoY(N),Total YoY)(%),Foreign Nationals YoY(N),Foreign Total YoY)(%)
0,1 de enero de 2025,49077984,6852348.0,0.139622,NaN,NaN,NaN,NaN
1,1 de enero de 2024,48619695,6502282.0,0.133738,458289.0,0.009426,350066.0,0.053837
2,1 de enero de 2023,48085361,6089620.0,0.126642,534334.0,0.011112,412662.0,0.067765
3,1 de enero de 2022,47486727,5509046.0,0.116012,598634.0,0.012606,580574.0,0.105386
4,1 de enero de 2021,47400798,5402702.0,0.113979,85929.0,0.001813,106344.0,0.019683

In [ ]:
INEdata.columns

Index(['Todas las edades', 'Total', 'Foreign population',
       '% Foreign Nationals/Total population', 'Total YoY(N)', 'Total YoY)(%)',
       'Foreign Nationals YoY(N)', 'Foreign Total YoY)(%)'],
      dtype='object')

- Rename columnns from imported data

In [19]:
# Rename columns
INEdata.columns = ['Date','Total_population','Foreign_population','Percent_foreign_population',
'Total population YoY(N)','Total population  YoY(%)','Foreign population YoY(N)','Foreign population  YoY(%)']

- Start by subsetting previous data set keeping initial variables (Date,Total_population,Foreign_population), used to derive the rest of columns in INE_data dataframe

In [21]:
INE_total_foreign_population = INEdata[['Date','Total_population','Foreign_population']]
INE_total_foreign_population.head()

                 Date Total_population  Foreign_population
0  1 de enero de 2025         49077984           6852348.0
1  1 de enero de 2024         48619695           6502282.0
2  1 de enero de 2023         48085361           6089620.0
3  1 de enero de 2022         47486727           5509046.0
4  1 de enero de 2021         47400798           5402702.0