# Demography

This first chart shows Spanish population by nationality for the 2005-2025 period. Describing total population and non spanish nationals figures. We will compute the percentage of Spanish ntaionals and foreign nationals from Spain total population by year.

## 1.Load required libraries

In [25]:
import pandas as pd
import os

In [26]:
# Specific libraries fro Seaborn charts
import seaborn as sns
import matplotlib.pyplot as plt
sns.set_theme(style="whitegrid")

- Get my current WD on this machine

In [27]:
my_wd = os.getcwd()
print("My working directory is:",my_wd)

My working directory is: c:\Users\pituf\OneDrive\Documentos\Pablo\DELL_PYTHON_projects\ML-using-Python\Seaborn_gallery

I need to change working directory to ML-using-Python to access data sub-folder

In [28]:
new_wd = os.path.join('C:/', 'Users','pituf','OneDrive','Documentos','Pablo', 'DELL_PYTHON_projects','ML-using-Python')
os.chdir(new_wd)

In [29]:
new_wd_defined = os.getcwd()
print("My working directory is:",new_wd_defined)

My working directory is: C:\Users\pituf\OneDrive\Documentos\Pablo\DELL_PYTHON_projects\ML-using-Python

## 2. Check data folder contents

We need first to list files in our \data folder to locate the Excel file we want to import for this chart, and also to obtain the specific tab name we will import data from.

In [30]:
# List folder contents using os.listdir() method in a Windows machine
data_folder = os.path.join('C:/', 'Users','pituf','OneDrive','Documentos','Pablo', 'DELL_PYTHON_projects','ML-using-Python',
                           'data')
data_folder_contents = os.listdir(data_folder)
print('data folder contents:',data_folder_contents)

data folder contents: ['01 INE resident population by nationality Spain and CV 2002 2024.xlsx', '02 INE Spain CV population stocks and flows 2002 2025.xlsx', '03_INE_Spain_natural_growh_births_deaths.xlsx', 'AE_Attendances_2010_2024.csv', 'AE_Time_Series_Data_website.txt', 'all_wine_reset.csv', 'INE Resident population country of birth Spain.xlsx', 'INE total and foreign population figures Spain.xlsx', 'Monthly-AE-Time-Series-January-2024.xls', 'monthly-milk-production-pounds.csv', 'OCDE_countries_population_figures_1970_2022.csv', 'ONS_Figure_01_Long_term_emigration_immigration_net_migration.xlsx', 'ONS_Figure_2__Population_increase_in_mid-2023_was_driven_mostly_by_net_international_migration.xls', 'ONS_long_term_immigration_end2024.xlsx', 'winequality-red.csv', 'winequality-white.csv', 'winequality.names', 'wine_quality.zip']

We have Listed data folder content using os.listdir() method, defining path to Excel filre using os.path.join() method

### 2.1 Build path to the Excel file in data folder to be imported

I build now the path to the Excel file "INE total and foreign population figures Spain.xlsx" I want to import into python. As it is in a higher level as the working directory default path, I will use os.changedir() function to point to the \data folder instead of to the Seaborn_gallery, so I can load it into Python

In [31]:
ine_population_nationality = os.path.join('data','INE total and foreign population figures Spain.xlsx')
print('INE_population_nationality:',ine_population_nationality)

INE_population_nationality: data\INE total and foreign population figures Spain.xlsx

## 3. Load data into Python

First we want to display tab names from imported Excel file

In [32]:
# Ine population by nationality
ine_population_nationality = os.path.join('data','INE total and foreign population figures Spain.xlsx')
print('INE_population_nationality:',ine_population_nationality)

INE_population_nationality: data\INE total and foreign population figures Spain.xlsx

We use .sheet_names() function to display Excel tab names

In [33]:
my_excel_file = pd.ExcelFile(ine_population_nationality)

In [35]:
my_excel_file.sheet_names

['INE_Foreign_population',
 'INE_Total_population',
 'INE_Total_foreign_population']

This code below, using ead_excel() function loads file "INE total and foreign population figures Spain.xlsx" into Python. 
- By detault data is imported from first Excel tab and first row. Instead, we want to import data from third tab "INE_Total_foreign_population".
- Also, we want to import data starting from 2 row onwards.

In [37]:
ine_population_nationality = os.path.join('data',
                                          'INE total and foreign population figures Spain.xlsx')
print('INE_population_nationality:',ine_population_nationality)

INE_population_nationality: data\INE total and foreign population figures Spain.xlsx

In [38]:
INEdata = pd.read_excel(ine_population_nationality,
                        sheet_name='INE_Total_foreign_population',
                        skiprows=2)
INEdata.head()

,Todas las edades,Total,Foreign population,% Foreign Nationals/Total population,Total YoY(N),Total YoY)(%),Foreign Nationals YoY(N),Foreign Total YoY)(%)
0,1 de enero de 2025,49077984,6852348.0,0.139622,NaN,NaN,NaN,NaN
1,1 de enero de 2024,48619695,6502282.0,0.133738,458289.0,0.009426,350066.0,0.053837
2,1 de enero de 2023,48085361,6089620.0,0.126642,534334.0,0.011112,412662.0,0.067765
3,1 de enero de 2022,47486727,5509046.0,0.116012,598634.0,0.012606,580574.0,0.105386
4,1 de enero de 2021,47400798,5402702.0,0.113979,85929.0,0.001813,106344.0,0.019683

- Subset previously imported data to keep just 20 first rows to skip footnotes.

In [40]:
INE_data_clean = INEdata.head(20)
INE_data_clean.head()

,Todas las edades,Total,Foreign population,% Foreign Nationals/Total population,Total YoY(N),Total YoY)(%),Foreign Nationals YoY(N),Foreign Total YoY)(%)
0,1 de enero de 2025,49077984,6852348.0,0.139622,NaN,NaN,NaN,NaN
1,1 de enero de 2024,48619695,6502282.0,0.133738,458289.0,0.009426,350066.0,0.053837
2,1 de enero de 2023,48085361,6089620.0,0.126642,534334.0,0.011112,412662.0,0.067765
3,1 de enero de 2022,47486727,5509046.0,0.116012,598634.0,0.012606,580574.0,0.105386
4,1 de enero de 2021,47400798,5402702.0,0.113979,85929.0,0.001813,106344.0,0.019683

In [41]:
INE_data_clean.columns

Index(['Todas las edades', 'Total', 'Foreign population',
       '% Foreign Nationals/Total population', 'Total YoY(N)', 'Total YoY)(%)',
       'Foreign Nationals YoY(N)', 'Foreign Total YoY)(%)'],
      dtype='object')

## 4. Rename and subset columns

Rename columns prior to creating stacked bar chart

In [42]:
INE_data_clean.columns = ['Date','Total_population','Foreign_population','Percent_foreign_population',
                          'Total_population YoY(N)','Total_population YoY(%)','Foreign population YoY(N)',
                          'Foreign population YoY(%)']

Subset columns from initially imported Excel file

In [ ]:
INE_total_foteign_population = INE_data_clean[['Date','Total_population','´Foreign_population']]

## 5. Create new calculated fields

From previously subsetted dataframe, we will recreate original calculations

## 5.1 New column for Year variable