## Stacked and percent barplots

This notebook will contain examples of stakced and percent barplots created using Seaborn. Plots data used will be INE (Spanish National Institute) Spanish Office of National statistics demographic time series indicators such as total population and population by nationality as of 1st January and also by foreign population by country of birth.

In [1]:
# 1. Load required libraries
import pandas as pd
import os

We will use this website as a reference to  start creating our stakced barplots in Seaborn

<https://python-graph-gallery.com/stacked-and-percent-stacked-barplot/>

### 1. Build path to project folder

- Get current working directory and path to project folder

In [2]:
# Get current working directory
my_wd = os.getcwd()
print("My working directory is:",my_wd)

# 1. List files in \data folder to identify Excel file to be imported into Python 
new_wd_ML_using_python = os.path.join("/home","pablo","Documents","Pablo_zorin","VS_Python_GitHub_Pablo_source","ML-using-Python")

# 2.change existing working directory to ML-using-Python folder to access Excel file located in \data folder
os.chdir(new_wd_ML_using_python)

My working directory is: /home/pablo/Documents/Pablo_zorin/VS_Python_GitHub_Pablo_source/ML-using-Python/Seaborn_gallery

In [3]:
new_wd = os.getcwd()
print("Changed working directory to:",new_wd)

Changed working directory to: /home/pablo/Documents/Pablo_zorin/VS_Python_GitHub_Pablo_source/ML-using-Python

### 2. Build path to Exel file to be imported from \data sub-folder

- First we check the contents in our data folder to find Excel file to import into Python

In [4]:
# 3. Build path to Exel file to be imported from \data sub-folder
data_folder = os.path.join("/home","pablo","Documents","Pablo_zorin","VS_Python_GitHub_Pablo_source","ML-using-Python",
                           'data')
data_folder_contents = os.listdir(data_folder)
print('data folder contents:',data_folder_contents)

data folder contents: ['wine_quality.zip', 'winequality.names', 'Monthly-AE-Time-Series-January-2024.xls', 'INE Resident population country of birth Spain.xlsx', 'AE_Time_Series_Data_website.txt', 'winequality-red.csv', 'OCDE_countries_population_figures_1970_2022.csv', 'all_wine_reset.csv', '02 INE Spain CV population stocks and flows 2002 2025.xlsx', 'AE_Attendances_2010_2024.csv', 'ONS_Figure_2__Population_increase_in_mid-2023_was_driven_mostly_by_net_international_migration.xls', 'winequality-white.csv', 'INE total and foreign population figures Spain.xlsx', 'monthly-milk-production-pounds.csv', 'ONS_Figure_01_Long_term_emigration_immigration_net_migration.xlsx', 'ONS_long_term_immigration_end2024.xlsx', '01 INE resident population by nationality Spain and CV 2002 2024.xlsx']

- Then we build path to Excel file we will load in Python using Pandas

In [5]:
# 3.1 Build  path to Excel file location
ine_population_nationality = os.path.join('data','INE total and foreign population figures Spain.xlsx')
print('ÍNE_population_nationality:',ine_population_nationality)

ÍNE_population_nationality: data/INE total and foreign population figures Spain.xlsx

### 3. Import Excel file into Python

Get individual tab names from previous "INE total and foreign population figures Spain.xlsx" file

In [6]:
my_excel_file = pd.ExcelFile(ine_population_nationality)

my_excel_file.sheet_names  # see all sheet names

['INE_Foreign_population',
 'INE_Total_population',
 'INE_Total_foreign_population']

In [7]:
INEdata = pd.read_excel(ine_population_nationality,
                                  sheet_name = 'INE_Total_foreign_population',
                                  skiprows= 2
                                )
INEdata.head()

,Todas las edades,Total,Foreign population,% Foreign Nationals/Total population,Total YoY(N),Total YoY)(%),Foreign Nationals YoY(N),Foreign Total YoY)(%)
0,1 de enero de 2025,49077984,6852348.0,0.139622,NaN,NaN,NaN,NaN
1,1 de enero de 2024,48619695,6502282.0,0.133738,458289.0,0.009426,350066.0,0.053837
2,1 de enero de 2023,48085361,6089620.0,0.126642,534334.0,0.011112,412662.0,0.067765
3,1 de enero de 2022,47486727,5509046.0,0.116012,598634.0,0.012606,580574.0,0.105386
4,1 de enero de 2021,47400798,5402702.0,0.113979,85929.0,0.001813,106344.0,0.019683

- Keep only first 20 rows to skip footnotes

In [8]:
INE_data_clean = INEdata.head(20)

In [47]:
INE_data_clean

,Todas las edades,Total,Foreign population,% Foreign Nationals/Total population,Total YoY(N),Total YoY)(%),Foreign Nationals YoY(N),Foreign Total YoY)(%)
0,1 de enero de 2025,49077984,6852348.0,0.139622,NaN,NaN,NaN,NaN
1,1 de enero de 2024,48619695,6502282.0,0.133738,458289.0,0.009426,350066.0,0.053837
2,1 de enero de 2023,48085361,6089620.0,0.126642,534334.0,0.011112,412662.0,0.067765
3,1 de enero de 2022,47486727,5509046.0,0.116012,598634.0,0.012606,580574.0,0.105386
4,1 de enero de 2021,47400798,5402702.0,0.113979,85929.0,0.001813,106344.0,0.019683
5,1 de enero de 2020,47318050,5241278.0,0.110767,82748.0,0.001749,161424.0,0.030799
6,1 de enero de 2019,46918951,4850762.0,0.103386,399099.0,0.008506,390516.0,0.080506
7,1 de enero de 2018,46645070,4577322.0,0.098131,273881.0,0.005872,273440.0,0.059738
8,1 de enero de 2017,46497393,4417653.0,0.095009,147677.0,0.003176,159669.0,0.036143
9,1 de enero de 2016,46418884,4419334.0,0.095206,78509.0,0.001691,-1681.0,-0.000380
10,1 de enero de 2015,46425722,4453985.0,0.095938,-6838.0,-0.000147,-34651.0,-0.007780
11,1 de enero de 2014,46495744,4676352.0,0.100576,-70022.0,-0.001506,-222367.0,-0.047551
12,1 de enero de 2013,46712650,5064584.0,0.108420,-216906.0,-0.004643,-388232.0,-0.076656
13,1 de enero de 2012,46818216,5236030.0,0.111837,-105566.0,-0.002255,-171446.0,-0.032744
14,1 de enero de 2011,46667175,5312440.0,0.113837,151041.0,0.003237,-76410.0,-0.014383
15,1 de enero de 2010,46486621,5402579.0,0.116218,180554.0,0.003884,-90139.0,-0.016684
16,1 de enero de 2009,46239271,5386659.0,0.116495,247350.0,0.005349,15920.0,0.002955
17,1 de enero de 2008,45668938,5086295.0,0.111373,570333.0,0.012488,300364.0,0.059054
18,1 de enero de 2007,44784659,4449434.0,0.099352,884279.0,0.019745,636861.0,0.143133
19,1 de enero de 2006,44009969,3930916.0,0.089319,774690.0,0.017603,518518.0,0.131908

In [9]:
# Rename columns
INE_data_clean.columns = ['Date','Total_population','Foreign_population','Percent_foreign_population',
'Total population YoY(N)','Total population  YoY(%)','Foreign population YoY(N)','Foreign population  YoY(%)']

- Start by subsetting previous data set keeping initial variables (Date,Total_population,Foreign_population), used to derive the rest of columns in INE_data dataframe

In [10]:
INE_total_foreign_population = INE_data_clean[['Date','Total_population','Foreign_population']]
INE_total_foreign_population.head()

                 Date Total_population  Foreign_population
0  1 de enero de 2025         49077984           6852348.0
1  1 de enero de 2024         48619695           6502282.0
2  1 de enero de 2023         48085361           6089620.0
3  1 de enero de 2022         47486727           5509046.0
4  1 de enero de 2021         47400798           5402702.0

### 4. Create new calculated fields

In [11]:
INE_total_foreign_population.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 3 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Date                20 non-null     object
 1   Total_population    20 non-null     object
 2   Foreign_population  20 non-null     float64
dtypes: float64(1), object(2)
memory usage: 612.0+ bytes

#### 4.1 New column for year

I can then modify this str[] parameter from str.strip() to slice four latest characters from Date column to obtain full year in YYYY format. I need to introduce [13:] to ensure I obtain a full year on my new Year variable

In [12]:
INE_total_foreign_population['Year']  = INE_total_foreign_population['Date'].str.strip().str[13:]
INE_total_foreign_population.head()

/tmp/ipykernel_364/2161791062.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  INE_total_foreign_population['Year']  = INE_total_foreign_population['Date'].str.strip().str[13:]

                 Date Total_population  Foreign_population   Year
0  1 de enero de 2025         49077984           6852348.0   2025
1  1 de enero de 2024         48619695           6502282.0   2024
2  1 de enero de 2023         48085361           6089620.0   2023
3  1 de enero de 2022         47486727           5509046.0   2022
4  1 de enero de 2021         47400798           5402702.0   2021

#### 4.2 New column for Spanish nationals from total and foreign population figures

We will compute Spanish nationals column substracting Foreign population to Total population obtaining total population split by spanish/foreign nationality

First we duplicate our original dataframe using .copy() function

In [13]:
INE_population_nationality = INE_total_foreign_population.copy()
INE_population_nationality.head()

                 Date Total_population  Foreign_population   Year
0  1 de enero de 2025         49077984           6852348.0   2025
1  1 de enero de 2024         48619695           6502282.0   2024
2  1 de enero de 2023         48085361           6089620.0   2023
3  1 de enero de 2022         47486727           5509046.0   2022
4  1 de enero de 2021         47400798           5402702.0   2021

Then we include our new Spanish nationals calculation from substracting Foreign_population to Total_population

In [14]:
INE_population_nationality['Spanish_nationals'] = INE_population_nationality['Total_population']- INE_population_nationality['Foreign_population']
INE_population_nationality.head()

,Date,Total_population,Foreign_population,Year,Spanish_nationals
0,1 de enero de 2025,49077984,6852348.0,2025,42225636.0
1,1 de enero de 2024,48619695,6502282.0,2024,42117413.0
2,1 de enero de 2023,48085361,6089620.0,2023,41995741.0
3,1 de enero de 2022,47486727,5509046.0,2022,41977681.0
4,1 de enero de 2021,47400798,5402702.0,2021,41998096.0

We also rename previous dataframe so new one is called "INE_spain_population" as it is just Spanish population split by nationality (Spanish nationals, foreign nationals)

In [15]:
INE_spain_population = INE_population_nationality.copy()
INE_spain_population.head()

,Date,Total_population,Foreign_population,Year,Spanish_nationals
0,1 de enero de 2025,49077984,6852348.0,2025,42225636.0
1,1 de enero de 2024,48619695,6502282.0,2024,42117413.0
2,1 de enero de 2023,48085361,6089620.0,2023,41995741.0
3,1 de enero de 2022,47486727,5509046.0,2022,41977681.0
4,1 de enero de 2021,47400798,5402702.0,2021,41998096.0

Then I only need to subset required columns before I reshape the data

In [18]:
INE_spain_population = INE_spain_population[['Year','Total_population','Spanish_nationals','Foreign_population']]
INE_spain_population

     Year Total_population Spanish_nationals  Foreign_population
0    2025         49077984        42225636.0           6852348.0
1    2024         48619695        42117413.0           6502282.0
2    2023         48085361        41995741.0           6089620.0
3    2022         47486727        41977681.0           5509046.0
4    2021         47400798        41998096.0           5402702.0
5    2020         47318050        42076772.0           5241278.0
6    2019         46918951        42068189.0           4850762.0
7    2018         46645070        42067748.0           4577322.0
8    2017         46497393        42079740.0           4417653.0
9    2016         46418884        41999550.0           4419334.0
10   2015         46425722        41971737.0           4453985.0
11   2014         46495744        41819392.0           4676352.0
12   2013         46712650        41648066.0           5064584.0
13   2012         46818216        41582186.0           5236030.0
14   2011         46667175        41354735.0           5312440.0
15   2010         46486621        41084042.0           5402579.0
16   2009         46239271        40852612.0           5386659.0
17   2008         45668938        40582643.0           5086295.0
18   2007         44784659        40335225.0           4449434.0
19   2006         44009969        40079053.0           3930916.0

### 5. Reshape data for stacked percent barplot

We need to reshape previous dataframe so we have Spanish national and Foreign population under the same column

In [19]:
Population_to_reshape = INE_spain_population.copy()
Population_to_reshape.head()

    Year Total_population Spanish_nationals  Foreign_population
0   2025         49077984        42225636.0           6852348.0
1   2024         48619695        42117413.0           6502282.0
2   2023         48085361        41995741.0           6089620.0
3   2022         47486727        41977681.0           5509046.0
4   2021         47400798        41998096.0           5402702.0

- Sorting values in ascending order by Year prior to reshaping data

In [23]:
Population_to_reshape_sorted = Population_to_reshape.sort_values(by = 'Year', ascending= True)
Population_to_reshape_sorted

     Year Total_population Spanish_nationals  Foreign_population
19   2006         44009969        40079053.0           3930916.0
18   2007         44784659        40335225.0           4449434.0
17   2008         45668938        40582643.0           5086295.0
16   2009         46239271        40852612.0           5386659.0
15   2010         46486621        41084042.0           5402579.0
14   2011         46667175        41354735.0           5312440.0
13   2012         46818216        41582186.0           5236030.0
12   2013         46712650        41648066.0           5064584.0
11   2014         46495744        41819392.0           4676352.0
10   2015         46425722        41971737.0           4453985.0
9    2016         46418884        41999550.0           4419334.0
8    2017         46497393        42079740.0           4417653.0
7    2018         46645070        42067748.0           4577322.0
6    2019         46918951        42068189.0           4850762.0
5    2020         47318050        42076772.0           5241278.0
4    2021         47400798        41998096.0           5402702.0
3    2022         47486727        41977681.0           5509046.0
2    2023         48085361        41995741.0           6089620.0
1    2024         48619695        42117413.0           6502282.0
0    2025         49077984        42225636.0           6852348.0

In [24]:
Population_to_reshape_sorted.reset_index()

    index   Year Total_population Spanish_nationals  Foreign_population
0      19   2006         44009969        40079053.0           3930916.0
1      18   2007         44784659        40335225.0           4449434.0
2      17   2008         45668938        40582643.0           5086295.0
3      16   2009         46239271        40852612.0           5386659.0
4      15   2010         46486621        41084042.0           5402579.0
5      14   2011         46667175        41354735.0           5312440.0
6      13   2012         46818216        41582186.0           5236030.0
7      12   2013         46712650        41648066.0           5064584.0
8      11   2014         46495744        41819392.0           4676352.0
9      10   2015         46425722        41971737.0           4453985.0
10      9   2016         46418884        41999550.0           4419334.0
11      8   2017         46497393        42079740.0           4417653.0
12      7   2018         46645070        42067748.0           4577322.0
13      6   2019         46918951        42068189.0           4850762.0
14      5   2020         47318050        42076772.0           5241278.0
15      4   2021         47400798        41998096.0           5402702.0
16      3   2022         47486727        41977681.0           5509046.0
17      2   2023         48085361        41995741.0           6089620.0
18      1   2024         48619695        42117413.0           6502282.0
19      0   2025         49077984        42225636.0           6852348.0

In [27]:
df_to_reshape = Population_to_reshape_sorted[['Year','Total_population','Spanish_nationals','Foreign_population']]
df_to_reshape.head()

     Year Total_population Spanish_nationals  Foreign_population
19   2006         44009969        40079053.0           3930916.0
18   2007         44784659        40335225.0           4449434.0
17   2008         45668938        40582643.0           5086295.0
16   2009         46239271        40852612.0           5386659.0
15   2010         46486621        41084042.0           5402579.0

In [28]:
df_to_reshape_subset = df_to_reshape[['Year','Spanish_nationals','Foreign_population']]
df_to_reshape_subset.head()

     Year Spanish_nationals  Foreign_population
19   2006        40079053.0           3930916.0
18   2007        40335225.0           4449434.0
17   2008        40582643.0           5086295.0
16   2009        40852612.0           5386659.0
15   2010        41084042.0           5402579.0

- Now we reshape our data from wide to long using  pd.melt() method

In [29]:
population_long = pd.melt(df_to_reshape_subset, id_vars= 'Year',value_vars=['Spanish_nationals','Foreign_population'])
population_long

     Year            variable       value
0    2006   Spanish_nationals  40079053.0
1    2007   Spanish_nationals  40335225.0
2    2008   Spanish_nationals  40582643.0
3    2009   Spanish_nationals  40852612.0
4    2010   Spanish_nationals  41084042.0
5    2011   Spanish_nationals  41354735.0
6    2012   Spanish_nationals  41582186.0
7    2013   Spanish_nationals  41648066.0
8    2014   Spanish_nationals  41819392.0
9    2015   Spanish_nationals  41971737.0
10   2016   Spanish_nationals  41999550.0
11   2017   Spanish_nationals  42079740.0
12   2018   Spanish_nationals  42067748.0
13   2019   Spanish_nationals  42068189.0
14   2020   Spanish_nationals  42076772.0
15   2021   Spanish_nationals  41998096.0
16   2022   Spanish_nationals  41977681.0
17   2023   Spanish_nationals  41995741.0
18   2024   Spanish_nationals  42117413.0
19   2025   Spanish_nationals  42225636.0
20   2006  Foreign_population   3930916.0
21   2007  Foreign_population   4449434.0
22   2008  Foreign_population   5086295.0
23   2009  Foreign_population   5386659.0
24   2010  Foreign_population   5402579.0
25   2011  Foreign_population   5312440.0
26   2012  Foreign_population   5236030.0
27   2013  Foreign_population   5064584.0
28   2014  Foreign_population   4676352.0
29   2015  Foreign_population   4453985.0
30   2016  Foreign_population   4419334.0
31   2017  Foreign_population   4417653.0
32   2018  Foreign_population   4577322.0
33   2019  Foreign_population   4850762.0
34   2020  Foreign_population   5241278.0
35   2021  Foreign_population   5402702.0
36   2022  Foreign_population   5509046.0
37   2023  Foreign_population   6089620.0
38   2024  Foreign_population   6502282.0
39   2025  Foreign_population   6852348.0

Check all records displayed as rows are now displayed on a single column at the top ond bottom of the newly reshpaed long dataframe

In [30]:
population_long.head(5)

    Year           variable       value
0   2006  Spanish_nationals  40079053.0
1   2007  Spanish_nationals  40335225.0
2   2008  Spanish_nationals  40582643.0
3   2009  Spanish_nationals  40852612.0
4   2010  Spanish_nationals  41084042.0

In [31]:
population_long.tail(5)

     Year            variable      value
35   2021  Foreign_population  5402702.0
36   2022  Foreign_population  5509046.0
37   2023  Foreign_population  6089620.0
38   2024  Foreign_population  6502282.0
39   2025  Foreign_population  6852348.0

After reshaping our data we have Spanish nationals at the top and foreign population at the bottom of the newly creaetd "variable" column

- So we can rename "variable" by "nationality" that we will use later on in the seaborn stacked percent bar chart

In [33]:
population_long.columns

Index(['Year', 'variable', 'value'], dtype='object')

In [34]:
population_long.columns = ['Year','Nationality','Value']
population_long.head()

    Year        Nationality       Value
0   2006  Spanish_nationals  40079053.0
1   2007  Spanish_nationals  40335225.0
2   2008  Spanish_nationals  40582643.0
3   2009  Spanish_nationals  40852612.0
4   2010  Spanish_nationals  41084042.0

### 6. Building the Stacked Barplot using Seaborn

Now that we have our data in the right shape to create a Stacked barplot, I will start building the plot and then once produced it will be saved in the "Seaborn_plots" folder as a .png file

- Check the two categories that will make the staked bar chart from Nationality column

In [36]:
population_long['Nationality'].unique

<bound method Series.unique of 0      Spanish_nationals
1      Spanish_nationals
2      Spanish_nationals
3      Spanish_nationals
4      Spanish_nationals
5      Spanish_nationals
6      Spanish_nationals
7      Spanish_nationals
8      Spanish_nationals
9      Spanish_nationals
10     Spanish_nationals
11     Spanish_nationals
12     Spanish_nationals
13     Spanish_nationals
14     Spanish_nationals
15     Spanish_nationals
16     Spanish_nationals
17     Spanish_nationals
18     Spanish_nationals
19     Spanish_nationals
20    Foreign_population
21    Foreign_population
22    Foreign_population
23    Foreign_population
24    Foreign_population
25    Foreign_population
26    Foreign_population
27    Foreign_population
28    Foreign_population
29    Foreign_population
30    Foreign_population
31    Foreign_population
32    Foreign_population
33    Foreign_population
34    Foreign_population
35    Foreign_population
36    Foreign_population
37    Foreign_population
38    Foreign_population
39    Foreign_population
Name: Nationality, dtype: object>