## Stacked barplot template

Stacked barplot taken as a reference from:https://python-graph-gallery.com/stacked-and-percent-stacked-barplot/

### 1.First load required libraries

In [5]:
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.patches as mpatches

### 2. Get data from built in Seaborn **tips** dataset

- Load dataset

In [7]:
# Load tips dataset from seaborn module and check top rows
tips  = sns.load_dataset("tips")

In [4]:
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [8]:
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

### 3. Start creating required calculations

This code will get the different categories of the "smoker" column

In [9]:
tips['smoker'].unique

<bound method Series.unique of 0       No
1       No
2       No
3       No
4       No
      ...
239     No
240    Yes
241    Yes
242     No
243     No
Name: smoker, Length: 244, dtype: category
Categories (2, object): ['Yes', 'No']>

- Set plot style: grey grid in the background

In [10]:
sns.set_theme(style = "darkgrid")

- set plot figure size

In [11]:
plt.figure(figsize=(14,14))