# Seaborn stacked bar plot population in Spain by month by nationality

This script describes how to build a stacked bar plot for the population in Spain split by nationality by month and year. The set of output plots created will be saved as .jpg files in the Seaborn_gallery sub-folder

## 1. Load required libraries

In [1]:
import pandas as pd 
import os

In [2]:
# Import specific Seaborn libraries
import seaborn as sns
import matplotlib.pyplot as plt
sns.set_theme(style = "whitegrid")

## 2. Build path to project folder

In [4]:
my_wd = os.getcwd()
print("My working directory is:",my_wd)

My working directory is: /home/pablo/Documents/Pablo_zorin/VS_Python_GitHub_Pablo_source/ML-using-Python/Seaborn_gallery

In [5]:
python_scripts_folder = os.path.join('/home','pablo','Documents','Pablo_zorin','VS_Python_GitHub_Pablo_source','ML-using-Python')
print('Main Python project folder is:',python_scripts_folder)

Main Python project folder is: /home/pablo/Documents/Pablo_zorin/VS_Python_GitHub_Pablo_source/ML-using-Python

In [6]:
# So I change current directory to /ML-using-Python so I can access the /data folder to load required .csv files
os.chdir(python_scripts_folder)
new_wd = os.getcwd()
print("Changed working directory to:",new_wd)

Changed working directory to: /home/pablo/Documents/Pablo_zorin/VS_Python_GitHub_Pablo_source/ML-using-Python

## 3.Check data folder and build path to Excel file to be imported into Python

In [7]:
# Check data folder contents
# List folder contents using os.listdir() method 
# We want to import file "INE total and foreign population figures Spain.xlsx"
data_folder = os.path.join('/home','pablo','Documents','Pablo_zorin','VS_Python_GitHub_Pablo_source','ML-using-Python','data')
data_folder_contents = os.listdir(data_folder)
print('data folder contents:',data_folder_contents)

data folder contents: ['wine_quality.zip', 'winequality.names', 'Monthly-AE-Time-Series-January-2024.xls', 'INE Resident population country of birth Spain.xlsx', 'AE_Time_Series_Data_website.txt', 'winequality-red.csv', 'OCDE_countries_population_figures_1970_2022.csv', 'all_wine_reset.csv', '03_INE_Spain_natural_growh_births_deaths.xlsx', '02 INE Spain CV population stocks and flows 2002 2025.xlsx', 'AE_Attendances_2010_2024.csv', 'ONS_Figure_2__Population_increase_in_mid-2023_was_driven_mostly_by_net_international_migration.xls', 'winequality-white.csv', 'INE total and foreign population figures Spain.xlsx', 'monthly-milk-production-pounds.csv', 'ONS_Figure_01_Long_term_emigration_immigration_net_migration.xlsx', 'ONS_long_term_immigration_end2024.xlsx', '01 INE resident population by nationality Spain and CV 2002 2024.xlsx']

- We want to import Excel file "INE total and foreign population figures Spain.xlsx" into Python

- Build path to this "INE total and foreign population figures Spain.xlsx" file to be loaded into Python

In [8]:
ine_population_nationality = os.path.join('data','INE total and foreign population figures Spain.xlsx')
print('INE Spain population by nationality file:',ine_population_nationality)

INE Spain population by nationality file: data/INE total and foreign population figures Spain.xlsx

In [9]:
# First I scan the Excel tabs names, to know which tab to inmport into Python
excel_file_tabs = pd.ExcelFile(ine_population_nationality)
excel_file_tabs.sheet_names

['INE_Foreign_population',
 'INE_Total_population',
 'INE_Total_foreign_population']

## 4.Load Excel data into Python

- In this section I import "INE total and foreign population figure Spain.xlsx" Excel file into Python. I want to import just content from **INE_Total_foreign_population** tab and also I want to skip first two rows.

In [10]:
INEdata = pd.read_excel(ine_population_nationality,
                        sheet_name='INE_Total_foreign_population',
                        skiprows=2)
INEdata.head()

,Todas las edades,Total,Foreign population,% Foreign Nationals/Total population,Total YoY(N),Total YoY)(%),Foreign Nationals YoY(N),Foreign Total YoY)(%)
0,1 de enero de 2025,49077984,6852348.0,0.139622,NaN,NaN,NaN,NaN
1,1 de enero de 2024,48619695,6502282.0,0.133738,458289.0,0.009426,350066.0,0.053837
2,1 de enero de 2023,48085361,6089620.0,0.126642,534334.0,0.011112,412662.0,0.067765
3,1 de enero de 2022,47486727,5509046.0,0.116012,598634.0,0.012606,580574.0,0.105386
4,1 de enero de 2021,47400798,5402702.0,0.113979,85929.0,0.001813,106344.0,0.019683