# Demography

### 1.Spanish population by nationality

This first chart will explore evolution of the Spanish population by nationality. Describing total population and non spanish nationals figures. We will compute the percentage of foreign nationals from the total population by year.

File "INE total and foreign population figures Spain.xlsx" is an Excel file containing formatted population figures on the third tab named "INE_Total_foreign_population"

Spain resident population was 49,077,984 on 1st of January 2025,. 6,852,348 of those were foreign nationals. This represents 14% of the total population.

In [15]:
import pandas as pd
import os

In [16]:
my_wd = os.getcwd()
print("My working directory is:",my_wd)

My working directory is: /home/pablo/Documents/Pablo_zorin/VS_Python_GitHub_Pablo_source/ML-using-Python

### 2.Import Excel file into Python

#### 2.1 Get Data folder contents to identify Excel file to be imported

Declare path to data folder using os.path.join() function on this Windows machine.

- Define our Woriking Directory to be "ML-using-Python" folder to be able to access to data sub.folder containing main xlsx file

In [42]:
# From a Windows machine
# new_wd_windows = os.path.join('C:/', 'Users','pituf','OneDrive','Documentos','Pablo', 'DELL_PYTHON_projects','ML-using-Python')
# os.chdir(new_wd_windows)

In [17]:
new_wd_ML_using_python = os.path.join("/home","pablo","Documents","Pablo_zorin","VS_Python_GitHub_Pablo_source","ML-using-Python")
# And we change existing working directory to this new folder
os.chdir(new_wd_ML_using_python)

In [18]:
new_wd = os.getcwd()
print("Changed working directory to:",new_wd)

Changed working directory to: /home/pablo/Documents/Pablo_zorin/VS_Python_GitHub_Pablo_source/ML-using-Python

In [44]:
# List folder contents using os.listdir() method in a Windows machine
# data_folder = os.path.join('C:/', 'Users','pituf','OneDrive','Documentos','Pablo', 'DELL_PYTHON_projects','ML-using-Python',
#                           'data')
# data_folder_contents = os.listdir(data_folder)
# print('data folder contents:',data_folder_contents)

data folder contents: ['AE_Attendances_2010_2024.csv', 'AE_Time_Series_Data_website.txt', 'all_wine_reset.csv', 'INE Resident population country of birth Spain.xlsx', 'INE total and foreign population figures Spain.xlsx', 'Monthly-AE-Time-Series-January-2024.xls', 'monthly-milk-production-pounds.csv', 'OCDE_countries_population_figures_1970_2022.csv', 'ONS_Figure_01_Long_term_emigration_immigration_net_migration.xlsx', 'ONS_Figure_2__Population_increase_in_mid-2023_was_driven_mostly_by_net_international_migration.xls', 'ONS_long_term_immigration_end2024.xlsx', 'winequality-red.csv', 'winequality-white.csv', 'winequality.names', 'wine_quality.zip']

List data folder content using os.listdir() method, defining first path using os.path.join() method

In [21]:
data_folder = os.path.join("/home","pablo","Documents","Pablo_zorin","VS_Python_GitHub_Pablo_source","ML-using-Python",
                           'data')
data_folder_contents = os.listdir(data_folder)
print('data folder contents:',data_folder_contents)

data folder contents: ['wine_quality.zip', 'winequality.names', 'Monthly-AE-Time-Series-January-2024.xls', 'INE Resident population country of birth Spain.xlsx', 'AE_Time_Series_Data_website.txt', 'winequality-red.csv', 'OCDE_countries_population_figures_1970_2022.csv', 'all_wine_reset.csv', 'AE_Attendances_2010_2024.csv', 'ONS_Figure_2__Population_increase_in_mid-2023_was_driven_mostly_by_net_international_migration.xls', 'winequality-white.csv', 'INE total and foreign population figures Spain.xlsx', 'monthly-milk-production-pounds.csv', 'ONS_Figure_01_Long_term_emigration_immigration_net_migration.xlsx', 'ONS_long_term_immigration_end2024.xlsx']

#### 2.2 Build path to the Excel file in data folder to be imported

As we have defined our path to the main folder, we can shorten the path to load our data directly from the "data" sub-folder in our newly defined Working directory

Now we will import Excel file "INE total and foreign population figures Spain.xlsx" into excel

In [22]:
ine_population_nationality = os.path.join('data','INE total and foreign population figures Spain.xlsx')
print('ÍNE_population_nationality:',ine_population_nationality)

ÍNE_population_nationality: data/INE total and foreign population figures Spain.xlsx

#### 2.3 Import INE Spanish population by nationality Excel file into Python

This code below, uses just applies read_excel() function on file "INE total and foreign population figures Spain.xlsx" file. 
- By detauls it imports data from first tab of the Excel file staring on the first row.

First I will use sheet_names method to obtain the list of Excel sheets in the Excel file.

To make use of this sheet_names() method, first I need to install in the Terminal openpyxl module using this command (in the same way I did with Pandas, Numpy, etc) > pip install openpyxl

In [23]:
import openpyxl

In [24]:
xl = pd.ExcelFile(ine_population_nationality)

xl.sheet_names  # see all sheet names

#xl.parse(sheet_name)  # read a specific sheet to DataFrame

['INE_Foreign_population',
 'INE_Total_population',
 'INE_Total_foreign_population']

We want to be able to import data from the third tab called "INE_Total_foreign_population" and also to specify the row number to start reading data from.

In [12]:
INEdata_input_test = pd.read_excel(ine_population_nationality)
INEdata_input_test.head()

,Total Nacional. Extranjera. Todas las edades. Total. Población. Número.,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,Serie: ECP701,NaN,NaN,NaN,NaN,NaN
1,Periodicidad: Trimestral,NaN,NaN,NaN,NaN,NaN
2,Unidad: Personas,NaN,NaN,NaN,NaN,NaN
3,Escala:,NaN,NaN,NaN,NaN,NaN
4,NaN,DATOS,NaN,NaN,NaN,NaN

Now I will load the above Excel file using Pandas read_Excel() file. This initial read_excel() method from Pandas, retrieves all data from first tab. We need to introduce further details about the specific tab and rows we want to ingest into python.

sheet_name=None);

##### 2.3.1 Import data from third tab of the Excel file

Now that we know we want to import data from the *third tab* called *INE_Total_foreign_population*  from "INE total and foreign population figures Spain.xlsx" Excel file, we can use sheet_name=, parameter in the read_excel() function.

- Now I need to include new parameters to the pd.read_excel() function to ensure that out of the three available tabs in **INE total and foreign population figures Spain.xlsx** input file:("INE_Foreign_population","INE_Total_population","INE_Total_foreign_population"), I **only** import third tab *INE_Total_foreign_population*, as I want to start my analysis by focusing on that specific tab.

In [25]:
ine_population_nationality = os.path.join('data','INE total and foreign population figures Spain.xlsx')

In [26]:
INEdata_third_tab = pd.read_excel(ine_population_nationality,
                                  sheet_name='INE_Total_foreign_population')
INEdata_third_tab.head()

,SPAIN,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,Population by nationality,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Todas las edades,Total,Foreign population,% Foreign Nationals/Total population,Total YoY(N),Total YoY)(%),Foreign Nationals YoY(N),Foreign Total YoY)(%)
2,1 de enero de 2025,49077984,6852348,0.139622,NaN,NaN,NaN,NaN
3,1 de enero de 2024,48619695,6502282,0.133738,458289,0.009426,350066,0.053837
4,1 de enero de 2023,48085361,6089620,0.126642,534334,0.011112,412662,0.067765

##### 2.3.2 Skip first two row from third tab

Then we want to be skip first row of data from third tab, as it contains null values that we want to ommit from our initial Excel data ingestion into Python.

We include 'skiprows=2' to skip first **two** rows of data from the imported Excel file, containing just table headings.

- And also I need to ensure I start reading data from Row 3 and below. So I can ommit all table headings to import clean  data from existing table on that tab.

In [27]:
INEdata_skip_rows = pd.read_excel(ine_population_nationality,
                                  sheet_name = 'INE_Total_foreign_population',
                                  skiprows= 2
                                )
INEdata_skip_rows.head()

,Todas las edades,Total,Foreign population,% Foreign Nationals/Total population,Total YoY(N),Total YoY)(%),Foreign Nationals YoY(N),Foreign Total YoY)(%)
0,1 de enero de 2025,49077984,6852348.0,0.139622,NaN,NaN,NaN,NaN
1,1 de enero de 2024,48619695,6502282.0,0.133738,458289.0,0.009426,350066.0,0.053837
2,1 de enero de 2023,48085361,6089620.0,0.126642,534334.0,0.011112,412662.0,0.067765
3,1 de enero de 2022,47486727,5509046.0,0.116012,598634.0,0.012606,580574.0,0.105386
4,1 de enero de 2021,47400798,5402702.0,0.113979,85929.0,0.001813,106344.0,0.019683

- This ensures we obtain original table headings for our dataframe imported columns.

In [28]:
INEdata_skip_rows.columns

Index(['Todas las edades', 'Total', 'Foreign population',
       '% Foreign Nationals/Total population', 'Total YoY(N)', 'Total YoY)(%)',
       'Foreign Nationals YoY(N)', 'Foreign Total YoY)(%)'],
      dtype='object')

Now that we have original columns names imported into Python, we use .columns =['new_col_name1','new_col_name2',..] to apply meaningful column names.

In [29]:
INE_data = INEdata_skip_rows.copy()
INE_data.head()

,Todas las edades,Total,Foreign population,% Foreign Nationals/Total population,Total YoY(N),Total YoY)(%),Foreign Nationals YoY(N),Foreign Total YoY)(%)
0,1 de enero de 2025,49077984,6852348.0,0.139622,NaN,NaN,NaN,NaN
1,1 de enero de 2024,48619695,6502282.0,0.133738,458289.0,0.009426,350066.0,0.053837
2,1 de enero de 2023,48085361,6089620.0,0.126642,534334.0,0.011112,412662.0,0.067765
3,1 de enero de 2022,47486727,5509046.0,0.116012,598634.0,0.012606,580574.0,0.105386
4,1 de enero de 2021,47400798,5402702.0,0.113979,85929.0,0.001813,106344.0,0.019683

In [30]:
# Rename columns
INE_data.columns = ['Date','Total_population','Foreign_population','Percent_foreign_population',
'Total population YoY(N)','Total population  YoY(%)','Foreign population YoY(N)','Foreign population  YoY(%)']

Now we can check the new names we have applied to our imported Excel data into Pythohn

In [31]:
INE_data.head()

,Date,Total_population,Foreign_population,Percent_foreign_population,Total population YoY(N),Total population YoY(%),Foreign population YoY(N),Foreign population YoY(%)
0,1 de enero de 2025,49077984,6852348.0,0.139622,NaN,NaN,NaN,NaN
1,1 de enero de 2024,48619695,6502282.0,0.133738,458289.0,0.009426,350066.0,0.053837
2,1 de enero de 2023,48085361,6089620.0,0.126642,534334.0,0.011112,412662.0,0.067765
3,1 de enero de 2022,47486727,5509046.0,0.116012,598634.0,0.012606,580574.0,0.105386
4,1 de enero de 2021,47400798,5402702.0,0.113979,85929.0,0.001813,106344.0,0.019683

### 2.4 Spanish population by nationality

Recreate existing calculated fields "Percent_foreign_population" and "Total population YoY(N)" from initial "Total_Population" and "Foreign_population" columns: