# Demography

### 1.Spanish population by nationality

This first chart will explore evolution of the Spanish population by nationality. Describing total population and non spanish nationals figures. We will compute the percentage of foreign nationals from the total population by year.

File "INE total and foreign population figures Spain.xlsx" is an Excel file containing formatted population figures on the third tab named "INE_Total_foreign_population"

Spain resident population was 49,077,984 on 1st of January 2025,. 6,852,348 of those were foreign nationals. This represents 14% of the total population.

In [32]:
import pandas as pd
import os

In [33]:
my_wd = os.getcwd()
print("My working directory is:",my_wd)

My working directory is: c:\Users\pituf\OneDrive\Documentos\Pablo\DELL_PYTHON_projects\ML-using-Python\Matplotlib_gallery

### 2.Import Excel file into Python

#### 2.1 Get Data folder contents to identify Excel file to be imported

Declare path to data folder using os.path.join() function on this Windows machine.

- Define our Woriking Directory to be "ML-using-Python" folder to be able to access to data sub.folder containing main xlsx file

In [42]:
new_wd = os.path.join('C:/', 'Users','pituf','OneDrive','Documentos','Pablo', 'DELL_PYTHON_projects','ML-using-Python')
os.chdir(new_wd)

In [43]:
wd = os.chdir(new_wd)
print("Changed previous WD to:",wd)

Changed previous WD to: None

In [44]:
data_folder = os.path.join('C:/', 'Users','pituf','OneDrive','Documentos','Pablo', 'DELL_PYTHON_projects','ML-using-Python',
                           'data')
data_folder_contents = os.listdir(data_folder)
print('data folder contents:',data_folder_contents)

data folder contents: ['AE_Attendances_2010_2024.csv', 'AE_Time_Series_Data_website.txt', 'all_wine_reset.csv', 'INE Resident population country of birth Spain.xlsx', 'INE total and foreign population figures Spain.xlsx', 'Monthly-AE-Time-Series-January-2024.xls', 'monthly-milk-production-pounds.csv', 'OCDE_countries_population_figures_1970_2022.csv', 'ONS_Figure_01_Long_term_emigration_immigration_net_migration.xlsx', 'ONS_Figure_2__Population_increase_in_mid-2023_was_driven_mostly_by_net_international_migration.xls', 'ONS_long_term_immigration_end2024.xlsx', 'winequality-red.csv', 'winequality-white.csv', 'winequality.names', 'wine_quality.zip']

#### 2.2 Build path to the Excel file in data folder to be imported

Now we will import Excel file "INE total and foreign population figures Spain.xlsx" into excel

In [45]:
ine_population_nationality = os.path.join('data','INE total and foreign population figures Spain.xlsx')
print('ÍNE_population_nationality:',ine_population_nationality)

ÍNE_population_nationality: data\INE total and foreign population figures Spain.xlsx

#### 2.3 Import INE Spanish population by nationality Excel file into Python

This code below, uses just applies read_excel() function on file "INE total and foreign population figures Spain.xlsx" file. 
- By detauls it imports data from first tab of the Excel file staring on the first row.

First I will use sheet_names method to obtain the list of Excel sheets in the Excel file.

In [49]:
xl = pd.ExcelFile(ine_population_nationality)

xl.sheet_names  # see all sheet names

#xl.parse(sheet_name)  # read a specific sheet to DataFrame

['INE_Foreign_population',
 'INE_Total_population',
 'INE_Total_foreign_population']

We want to be able to import data from the third tab called "INE_Total_foreign_population" and also to specify the row number to start reading data from.

In [46]:
INEdata_input_test = pd.read_excel(ine_population_nationality)
INEdata_input_test.head()

,Total Nacional. Extranjera. Todas las edades. Total. Población. Número.,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,Serie: ECP701,NaN,NaN,NaN,NaN,NaN
1,Periodicidad: Trimestral,NaN,NaN,NaN,NaN,NaN
2,Unidad: Personas,NaN,NaN,NaN,NaN,NaN
3,Escala:,NaN,NaN,NaN,NaN,NaN
4,NaN,DATOS,NaN,NaN,NaN,NaN

Now I will load the above Excel file using Pandas read_Excel() file. This initial read_excel() method from Pandas, retrieves all data from first tab. We need to introduce further details about the specific tab and rows we want to ingest into python.

sheet_name=None);

##### 2.3.1 Import third tab from Excel file

Now that we know we want to import data from the *third tab* called *INE_Total_foreign_population*  from "INE total and foreign population figures Spain.xlsx" Excel file, we can use sheet_name=, parameter in the read_excel() function.

In [50]:
INEdata_third_tab = pd.read_excel('data\INE total and foreign population figures Spain.xlsx',
                                  sheet_name='INE_Total_foreign_population')
INEdata_third_tab.head()

<>:1: SyntaxWarning: invalid escape sequence '\I'
<>:1: SyntaxWarning: invalid escape sequence '\I'
C:\Users\pituf\AppData\Local\Temp\ipykernel_5960\1001869612.py:1: SyntaxWarning: invalid escape sequence '\I'
  INEdata_third_tab = pd.read_excel('data\INE total and foreign population figures Spain.xlsx',

,SPAIN,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,Population by nationality,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Todas las edades,Total,Foreign population,% Foreign Nationals/Total population,Total YoY(N),Total YoY)(%),Foreign Nationals YoY(N),Foreign Total YoY)(%)
2,1 de enero de 2025,49077984,6852348,0.139622,NaN,NaN,NaN,NaN
3,1 de enero de 2024,48619695,6502282,0.133738,458289,0.009426,350066,0.053837
4,1 de enero de 2023,48085361,6089620,0.126642,534334,0.011112,412662,0.067765

##### 2.3.2 Skip first row from third tab when importing data

Then we want to be skip first row of data from third tab, as it contains null values that we want to ommit from our initial Excel data ingestion into Python.

### 2.4 Spanish population by nationality

Include new parameters in pd.read_excel() function to import **relevant** tables

- Now I need to include new parameters to the pd.read_excel() function to ensure that out of the three available tabs in **INE total and foreign population figures Spain.xlsx** input file:("INE_Foreign_population","INE_Total_population","INE_Total_foreign_population"), I **only** import third tab *INE_Total_foreign_population*, as I want to start my analysis by focusing on that specific tab. 

- And also I need to ensure I start reading data from Row 3 and below. So I can ommit all table headings to import clean  data from existing table on that tab.